<%- include("../partials/header") %>

<h1><%= player.fullname %></h1>

<div>
    <img src="<%= player.img %>" alt="">
</div>

<% for (let match of player.matches) { %>
    <li><%= match.title %></li>
<% } %>

<%- include("../partials/footer") %>